@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----Body init---- */
body{
    font-family: 'Poppins', sans-serif;
}

/*----Body end---- */


/*_______barra de rolagem___________*/

::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb{
  background-color: #243C53;
  border-radius: 20px;
  
  }
  
  ::-webkit-scrollbar{
  background-color: #ccc;
  }
  

/*-----Menu init-----*/



#menu-first{
    background-color: #015e6a;
    color: #ffffff;
    height: 100px;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
    
}

.logo-container{
    width: 300px;
    height: 100px;
    padding-left: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo-container img{
    width: 100%;
}

.container-input{
    display: flex;
    padding: 50px;
    width: 500px;
    height: 20px;
    justify-content: center;
    align-items: center;
    grid-column-start: 7;
    
    
}

.container-input i{
    color: #015E6A;
    position: relative;
    right: 40px;
    cursor: pointer;
    font-size: 1.1rem;
}

.container-input input{
    background-color: #e5e3e3;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #015E6A;
    outline: none;
    padding: 0.5rem 0.7rem;
    box-shadow:
    0 0.9px 79.9px rgba(0, 0, 0, 0.116),
    0 7px 80px rgba(0, 0, 0, 0.24);
  
}


.container-icons{
    grid-column-start: 12;
    display: flex;
    width: 150px;
    margin-top: 25%;
}

.container-icons i{
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 30px;
}
.container-icons h4{
    cursor: pointer;
    font-size: 1rem;
}



#menu {
	background: #015E6A;
	color: #FFF;
	height: 60px;
	padding-left: 18px;
	border-radius: 0px;
    border-top: solid 1px #ffffff;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;

}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;

}
#menu li a:hover {
	color: #0099CC;
    transition: all 0.5s ease;

	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
    transition: all 1s ease;


}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px;
    margin-top: 1%;

}
#menu label:before {
	font-size: 3em;
	content: "\2261"; 
	margin-left: 20px;


}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #018191;
	position: absolute;
	z-index: 99;
	display: none;
    border-radius: 10px;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}


.container-mobile{
    display: none;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#018191;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

/*-----Menu end-----*/

/*-----main init-----*/
    /*-----slider init-----*/

    .carousel-inner img{
        height: 100%;
    }

    .carousel-indicators li{
        background-color: #018191;
    }
    
    .carousel-indicators .active{
        background-color: #045964;
    }
    
    .carousel-control-prev{
        background-color: #018191;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 17%;
        margin-left: 1%;

    }

    .carousel-control-next{
        background-color: #018191;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 17%;
        margin-right: 1%;

    }
.container-img-inform img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


    /*-----slider end-----*/
    
    /*-----Cards Products init-----*/

    .container-products{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        cursor: pointer;
        grid-gap: 20px;
        margin: auto;
        margin-top: 5%;
        margin-left: 5%;
    }

    .title-products h1{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25) ;
        margin-top: 5%;
        transition: all 0.5s ease;

    }

    .title-products:hover {
        transform: translateY(-2px);
        color: #045964;
      }


      .container-products{
          margin-bottom: 10%;
      }
    .container-products .card-game{
        width: 300px;
        height: 550px;
        margin-left: 10%;
        margin-bottom: 15%;        
        margin-top: 5%;
        transition: all 0.5s ease;
        

    }
    .container-products .card-game:hover{
        transform: translateY(-7px);
        box-shadow:
        0 0px 135.6px rgba(0, 0, 0, 0.12),
        0 0px 174px rgba(0, 0, 0, 0.24);
    }

    .container-products img{
       height: 400px;
       margin-left: auto;
       margin-right: auto;
       display: block;

    }
    .container-products-games .card-game h1{
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        

    }
    .container-products-games .card-game h2{
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;




    }
    .container-products-games .card-game h3{
        text-align: center;
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        color: rgb(130, 127, 127);



    }
    
    .container-products-games .card-game .container-ver-mais{

        box-shadow:
        0 0px 135.6px rgba(0, 0, 0, 0.12),
        0 0px 174px rgba(0, 0, 0, 0.24);
        text-align: center;
        background-color: #015E6A;
        border-radius: 10px;
        font-size: 1.2rem;
        height: 50px;
        transition: all 0.5s ease;


    }
    .container-products-games .card-game .container-ver-mais:hover{
        transform: translateY(-7px);
        background-color: #033e46;

    }
    
   


    .container-products-games .card-game .container-ver-mais a{
        
        color: #eee;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        top: 25%;
        text-decoration: none;

        
    }

    



    

        /*-----Cards Products End-----*/



        /*----------footer init--------*/
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#045964; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer img{
    width: 100%;
}



.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none; transition: all 0.5 ease;  }
.social_footer_ul li:hover{transform: translateY(-3px);}
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


        /*----------footer End--------*/
/*-----main end-----*/


        /*----------Array init--------*/

        

@media (max-width: 1024px){
    #menu li{
        float: left;
	display: inline;
	position: relative;
    margin-top: 0.5%;
    margin-left: 9%;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    }
    .container-input{
        display: flex;
        padding: 50px;
        width: 450px;
        height: 20px;
        justify-content: center;
        align-items: center;
        grid-column-start: 9;
        
        
    }
   
    
}

@media (max-width: 768px){

    

    .container-input{
        display: flex;
        padding: 50px;
        width: 400px;
        height: 20px;
        justify-content: center;
        align-items: center;
        grid-column-start: 9;
        margin-left: 15%;
        
        
    }
    .container-icons{
        grid-column-start: 10;
        display: flex;
        width: 150px;
        margin-top: 25%;
    }
    
    .container-icons i{
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 20px;
    }

    

}
@media (max-width: 768px){

    .container-input{
        display: none;
        
        width: 350px;
        height: 20px;
        justify-content: center;
        align-items: center;
        grid-column-start: 9;
        margin-left: 15%;
        
        
    }
    .container-icons i{
        display: none;
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 20px;
    }
    .logo-container{
        width: 310px;
        height: 100px;
        padding-left: 30px;
        grid-column-start: 2;
    }
    
    
}


@media (max-width: 425px){

    .carousel-control-prev{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 12%;
        margin-left: 1%;

    }

    .carousel-control-next{
        background-color: #018191;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 12%;
        margin-right: 1%;

    }

    .logo-container{
        width: 310px;
        height: 100px;
        padding-left: 30px;
        grid-column-start: 5;
    }
    .container-mobile{
        display: block;
    }

    .container-menu-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        background-color: #015e6a;
    }
    .container-menu-mobile .container-input-mobile{
        
        display: flex;
        float: left;
        position: relative;
        top: 15px;
        left: 100px;
        width: 120px;
        height: 20px;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;   
     }
     .container-input-mobile input{
        background-color: #e5e3e3;
        border: none;
        border-radius: 10px;
        width: 200px;
        height: 35px;
        font-size: 1rem;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        color: #015E6A;
        outline: none;
        padding: 0.5rem 0.7rem;
        box-shadow:
        0 0.9px 79.9px rgba(0, 0, 0, 0.116),
        0 7px 80px rgba(0, 0, 0, 0.24);
    
    }

    .container-input-mobile i{
        color: #015E6A;
        position: relative;
        right: 30px;
        cursor: pointer;
        font-size: 1.1rem;
    }

    
    .container-icons-mobile{
        grid-column-start: 10;
        display: flex;
        width: 150px;
        margin-top: 25%;
    }

    .container-icons-mobile i{
        cursor: pointer;
        font-size: 1.3rem;
        margin-right: 30px;
        color: #ccc;
        float: left;
        position: relative;
        bottom: 22px;
        left: 15px;
    }
    

   

}

@media (max-width: 375px){
    .container-icons-mobile{
        grid-column-start: 8;
        display: flex;
        width: 150px;
        margin-top: 25%;
    }
}


        /*----------Array End--------*/
